@charset "utf-8";
@font-face {
  font-family: swbficon;
  src: url('../fonts/swbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/swbficon-webfont.woff') format('woff'), url('../fonts/swbficon-webfont.ttf') format('truetype'), url('../fonts/swbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: wbficon;
  src: url('../fonts/wbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/wbficon-webfont.woff') format('woff'), url('../fonts/wbficon-webfont.ttf') format('truetype'), url('../fonts/wbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wbficon {
  font-family: wbficon;
}
.swbficon {
  font-family: swbficon;
}
.clearfix::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
body {
  background-color: #b4daf0;
  background-image: url("../img/body_repeat.png");
  background-position: center 0;
  background-repeat: repeat-x;
}
.wb {
  padding-top: 50px;
  background: rgba(0, 0, 0, 0) url("../img/body_bg.jpg") no-repeat scroll center top;
}
.wb-top {
  position: fixed;
  border-top: 2px solid #eb7350;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
.wb-top-inner {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.wb-top-logo {
  float: left;
  position: relative;
  width: 140px;
  height: 48px;
}
.wb-top-logo > a {
  height: 48px;
  display: block;
  position: absolute;
  width: 190px;
  left: -50px;
}
.wb-top-logo > a > span {
  display: block;
  width: 140px;
  margin-left: 50px;
  height: 48px;
  background: url("../img/WB_logo.png") no-repeat center 40%;
}
.wb-top-search {
  float: left;
  width: 468px;
  background-color: #f2f2f5;
  border: 1px solid #cccccc;
  margin-top: 9px;
  position: relative;
}
.wb-top-search > input {
  height: 20px;
  padding: 4px 33px 4px 10px;
  border: none;
  width: 425px;
  background-color: transparent;
}
.wb-top-search > a {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 18px;
  color: #696e78;
}
.wb-top-search > a:hover {
  color: #eb7350;
}
.wb-top-pos {
  float: right;
  margin-left: -11px;
}
.wb-top-pos .wbficon {
  font-size: 22px;
}
.wb-top-pos a {
  color: #696e78;
}
.wb-top-pos a:hover {
  color: #eb7350;
}
.wb-top-nav {
  float: left;
  margin: 11px 20px 11px 0;
}
.wb-top-nav {
  float: left;
}
.wb-top-nav li {
  display: inline;
  margin-left: 26px;
  font-size: 14px;
}
.wb-top-nav li.active a {
  color: #eb7350;
}
.wb-top-nav a {
  display: inline-block;
  line-height: 26px;
  height: 26px;
}
.wb-top-nav a:hover {
  color: #eb7350;
}
.wb-top-nav span {
  vertical-align: top;
}
.wb-top-user {
  float: left;
  margin: 12px 10px 12px 0;
  border-left: 1px solid #d9d9d9;
}
.wb-top-user > div {
  position: relative;
  margin-left: 21px;
  display: inline-block;
  float: left;
}
.wb-top-msg .msg-num {
  position: absolute;
  color: #ffffff;
  top: -3px;
  right: -16px;
  background-color: #eb7350;
  font-size: 11px;
  min-width: 18px;
  padding: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  text-align: center;
}
.wb-top-edit {
  width: 26px;
  height: 24px;
  background-color: #eb7350;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.wb-top-edit span {
  color: #ffffff;
}
.wb-body {
  background-color: rgba(70, 149, 194, 0.3);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}
.wb-body-aside {
  width: 150px;
  float: left;
}
.wb-body-aside li > a {
  color: #ffffff;
  display: block;
  line-height: 34px;
  height: 34px;
  padding: 0 0 0 15px;
  position: relative;
}
.wb-body-aside li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.wb-body-aside li.active > a {
  background-color: rgba(255, 255, 255, 0.2);
}
.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #eb7350;
  right: 8px;
  top: 50%;
  margin-top: -3px;
}
.wb-aside-my {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 11px;
}
.wb-aside-my a {
  font-weight: 700;
  font-size: 14px;
}
.wb-aside-hot span.wbficon,
.wb-aside-cato span.wbficon {
  margin-right: 4px;
  margin-top: -1px;
  font-size: 14px;
  line-height: 34px;
  display: block;
  float: left;
}
.wb-aside-hot a,
.wb-aside-cato a {
  font-size: 12px;
}
.wb-aside-hot .msg-num,
.wb-aside-cato .msg-num {
  background-color: #eb7350;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: right;
  padding: 0 2px;
  height: 13px;
  line-height: 14px;
  min-width: 18px;
  text-align: center;
  margin: 10px 10px 0 0;
}
.wb-aside-hot {
  padding-top: 11px;
}
.wb-aside-cato {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.wb-aside-cato .more {
  text-align: center;
  height: 34px;
  line-height: 34px;
}
.wb-aside-cato .more a {
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #a9d1e8;
  padding: 3px 6px;
  position: relative;
}
.wb-aside-cato .more a .dot {
  top: 0px;
  right: -1px;
}
fieldset {
  padding-left: 120px;
  height: 22px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
fieldset legend {
  padding: 0 3px 0 4px;
  font-size: 14px;
  line-height: 22px;
  display: block;
}
fieldset legend a {
  line-height: 22px;
  padding: 0;
  color: #ffffff;
}
.wb-body-content {
  width: 850px;
  display: inline-block;
}
.wb-body-main {
  width: 600px;
  margin-right: 10px;
  display: inline-block;
}
.wb-body-main > div {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.wb-edit-box {
  padding: 15px 10px 10px;
}
.wb-edit-box .box-title {
  float: left;
  color: #1b7fb6;
  -webkit-text-stroke-width: 0.2px;
  font-size: 14px;
}
.box-recom {
  float: right;
}
.box-recom a {
  color: #eb7350;
  font-size: 12px;
  line-height: 21px;
}
.box-recom a:first-child {
  margin-right: 8px;
}
.box-body {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  border: 1px solid #cccccc;
  margin-top: 4px;
  padding: 5px;
  min-height: 68px;
  height: auto;
}
.box-body textarea {
  width: 100%;
  min-height: 68px;
}
.box-footer-kind {
  float: left;
  padding-top: 10px;
  height: 24px;
  line-height: 24px;
}
.box-footer-kind > a {
  color: #333333;
  margin-right: 18px;
  font-size: 12px;
}
.box-footer-kind > a > span {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
  display: inline-block;
}
.box-footer-kind > a:hover {
  color: #eb7350;
}
.kind-face {
  color: #ffa405;
}
.kind-face:hover {
  color: #ff9000;
}
.kind-pic {
  color: #84c002;
}
.kind-pic:hover {
  color: #72a305;
}
.kind-vid {
  color: #737e95;
}
.kind-vid:hover {
  color: #4d607c;
}
.kind-top {
  color: #5a8ce6;
}
.kind-top:hover {
  color: #4579d8;
}
.kind-art {
  color: #ff8200;
}
.kind-art:hover {
  color: #ff6600;
}
.box-footer-kind .kind-more {
  font-size: 16px;
}
.box-footer-send {
  float: right;
  padding-top: 5px;
}
.send-opt {
  margin: 10px 10px 0 0;
  display: block;
  float: right;
  font-size: 12px;
  color: #333333;
}
.send-opt:hover {
  color: #eb7350;
}
.send-btn {
  color: #ffffff;
  padding: 0 10px;
  line-height: 28px;
  font-size: 14px;
  width: 60px;
  display: block;
  box-sizing: content-box;
  float: right;
  border: none;
  background-color: #ffc09f;
  border: 1px solid #fbbd9e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.wb-nav-box-list {
  float: left;
  width: 312px;
  display: block;
}
.wb-nav-box-list > li {
  float: left;
  width: 52px;
  height: 38px;
  font-size: 12px;
}
.wb-nav-box-list > li > a {
  display: block;
  color: #333333;
}
.wb-nav-box-list > li > a:hover {
  color: #eb7350;
}
.wb-nav-box-list > li.active > a {
  font-weight: 700;
}
.nav-name {
  display: block;
  width: 100%;
  padding-left: 14px;
  line-height: 38px;
  height: 31px;
}
.nav-bottom {
  height: 7px;
  width: 100%;
  display: block;
  text-align: center;
}
.nav-arrow {
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #FFF8BF transparent;
  line-height: 0;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.wb-nav-box-search {
  float: right;
  margin: 6px 7px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  height: 24px;
  position: relative;
  font-size: 13px;
}
.wb-nav-box-search input {
  border: none;
  width: 120px;
  height: 24px;
  padding: 0 46px 0 10px;
}
.wb-nav-box-search-btn {
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: 24px;
}
.wb-nav-box-search-btn a {
  color: #696e78;
}
.wb-nav-box-search-btn .adv-btn:hover {
  color: #eb7350;
}
.wb-nav-box-footer {
  height: 30px;
  background-color: #fff8bf;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.wb-nav-box-footer a {
  font-size: 12px;
  color: #eb7350;
  line-height: 30px;
}
.wb-body-right {
  width: 230px;
  margin-right: 10px;
  float: right;
}
.wb-body-right > div {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.user-box-header {
  height: 75px;
  position: relative;
  background: url('../img/user_bg.jpg') no-repeat center 1%;
}
.user-avatar {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -30px;
}
.user-avatar img {
  display: block;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-box-body {
  padding: 16px 16px 9px;
  background-color: #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.user-info {
  text-align: center;
  padding-top: 5px;
}
.user-info > a {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}
.user-info > a:hover {
  color: #eb7350;
}
.user-mem,
.user-lev {
  display: inline-block;
}
.user-mem {
  background: url("../img/icon.png") no-repeat center;
  background-position: 0 -200px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.user-lev {
  background-color: #eb7350;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.user-lev i {
  padding: 0 5px 0 3px;
  width: 25px;
  line-height: 14px;
  height: 14px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.user-atte {
  margin-top: 10px;
}
.user-atte > li {
  float: left;
  width: 65px;
  border-right: 1px solid #d9d9d9;
  text-align: center;
}
.user-atte > li:last-child {
  border-right: 0px solid #d9d9d9;
}
.user-atte > li a {
  font-weight: 700;
  color: #333333;
  line-height: 18px;
  display: block;
}
.user-atte > li a:hover {
  color: #eb7350;
}
.user-atte > li p {
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.wb-box-title {
  padding: 0 16px;
  height: 38px;
  line-height: 38px;
}
.wb-box-title a {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
}
.wb-box-title a:hover {
  color: #eb7350;
}
.wb-box-item {
  padding: 6px;
  border-top: 1px solid #f2f2f5;
}
.wb-box-wrapper {
  padding: 0 10px;
}
.wb-box-pic {
  float: left;
  margin-right: 5px;
}
.wb-box-pic img {
  width: 72px;
  height: 96px;
  display: block;
}
.wb-box-content {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}
.wb-box-con-title {
  color: #333333;
  font-size: 14px;
  margin: 3px 0;
  line-height: 16px;
}
.wb-box-con-title:hover {
  color: #eb7350;
}
.wb-box-con-title span {
  color: #ffffff;
  width: 15px;
  height: 15px;
  line-height: 16px;
  display: inline-block;
  font-weight: normal;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  background-color: #eb7350;
}
.wb-box-txt {
  color: #808080;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wb-box-grade {
  float: right;
  color: #808080;
  font-size: 12px;
}
.wb-box-focus .wb-box-con-title {
  font-weight: 700;
}
.wb-box-focus .wb-box-grade {
  margin-top: 10px;
}
.wb-box-focus .wb-box-con-title span {
  background-color: #df3e3e;
}
.wb-box-focus .wb-box-wrapper {
  padding: 0;
}
.wb-box-focus .wb-box-content {
  padding-right: 10px;
  height: 96px;
  line-height: 14px;
}
.wb-box-footer {
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  height: 35px;
  border-top: 1px solid #d9d9d9;
}
.wb-box-footer a {
  color: #333333;
}
.wb-box-footer a:hover {
  color: #eb7350;
}
.wb-top-list {
  padding: 16px;
  font-size: 12px;
  border-top: 1px solid #f2f2f5;
}
.wb-top-item {
  padding: 8px 0 5px;
}
.wb-top-item a {
  color: #333333;
}
.wb-top-item a:hover {
  color: #eb7350;
}
.wb-top-item span {
  float: right;
  color: #808080;
}
.wb-box-title .topic-change {
  font-size: 12px;
  font-weight: 400;
  float: right;
  color: #696e78;
}
.wb-box-title .topic-change span {
  font-size: 14px;
  font-weight: 700;
}
.wb-mom-body {
  padding: 20px 20px 0;
}
.wb-mom-ava {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}
.wb-mom-ava img {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wb-mom-cont {
  margin-left: 60px;
}
.wb-mom-menu {
  position: absolute;
  right: 0;
  top: 0;
}
.wb-mom-menu > a {
  color: #333333;
  font-size: 18px;
}
.wb-mom-menu > a:hover {
  color: #eb7350;
}
.wb-mom-user {
  padding-top: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  position: relative;
}
.wb-mom-user > a {
  color: #333333;
  font-weight: 700;
}
.wb-mom-user > a:hover {
  color: #76a513;
}
.wb-vuser {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/icon.png") no-repeat center;
  background-position: 0 -75px;
  margin-left: 3px;
  vertical-align: -2px;
}
.wb-mem {
  width: 16px;
  height: 14px;
  margin-left: 3px;
  vertical-align: -2px;
  background: url("../img/icon.png") no-repeat center;
  background-position: -25px -25px;
  display: inline-block;
}
.wb-mom-time {
  font-size: 12px;
  margin-bottom: 2px;
  color: #808080;
}
.wb-mom-time a {
  color: inherit;
}
.wb-mom-time a:hover {
  color: #76a513;
}
.wb-mom-txt {
  color: #333333;
  line-height: 23px;
  font-size: 14px;
  margin-bottom: 2px;
}
.wb-mom-pic {
  margin-top: 5px;
  margin-bottom: 6px;
}
.wb-mom-pic-item {
  width: 167px;
  height: auto;
  display: block;
}
.wb-mom-pic-item img {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.wb-mom-footer {
  border-top: 1px solid #f2f2f5;
}
.wb-ft-item {
  float: left;
  width: 25%;
  line-height: 38px;
  text-align: center;
  font-size: 12px;
}
.wb-ft-item a {
  color: #808080;
  margin: 7px 0;
  display: block;
  line-height: 22px;
}
.wb-ft-item a:hover {
  color: #eb7350;
}
.wb-ft-item a span {
  font-size: 15px;
  margin-right: 3px;
  vertical-align: bottom;
  line-height: 22px;
  display: inline-block;
}
.wb-ft-item:not(:last-child) a {
  border-right: 1px solid #d9d9d9;
}
.wb-share {
  background-color: #f2f2f5;
  padding: 4px 20px 1px 80px;
  margin-top: 5px;
}
.wb-share-cont .wb-mom-user {
  font-size: 12px;
}
.wb-share-cont .wb-mom-txt {
  font-size: 12px;
}
.wb-share-cont .wb-mom-txt a {
  color: #76a513;
}
.wb-share-ft {
  font-size: 12px;
  color: #808080;
  margin: 4px 0 7px;
}
.wb-share-ft a {
  color: inherit;
}
.wb-share-ft a:hover {
  color: #76a513;
}
.wb-share-ft a span {
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
.wb-share-tb {
  float: right;
}
.wb-share-tb .wb-share-tb-item {
  float: left;
  padding: 0 10px;
}
.wb-share-tb .wb-share-tb-item:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
.wb-share-tb .wb-share-tb-item > a {
  line-height: 18px;
}
.wb-ft-com {
  position: relative;
}
.wb-com-arrow {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 0;
  margin-left: -7px;
}
.wb-com-arrow-inner {
  position: absolute;
  top: -14px;
  left: 0;
  line-height: 0;
  font-size: 0;
}
.wb-com-arrow-inner i {
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent #d9d9d9 transparent;
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin-left: -1px;
}
.wb-com-arrow-inner em {
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent #f2f2f5 transparent;
  width: 0;
  height: 0;
  display: inline-block;
  margin: 1px 0 0 -14px;
  overflow: hidden;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.wb-mom-comment {
  background-color: #f2f2f5;
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
}
.wb-com-tip {
  margin: 0 20px 10px;
  padding: 5px 7px 4px 10px;
  font-size: 12px;
  background-color: #f8f9fe;
  border: 1px solid #e4e7f8;
  text-align: center;
}
.wb-com-tip p {
  color: #808080;
}
.wb-com-tip p i {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../img/icon.png") no-repeat center;
  background-position: -350px -100px;
  vertical-align: -3px;
}
.wb-com-tip p a {
  color: #76a513;
}
.wb-com-tip p .close {
  color: #696e78;
  float: right;
  margin-top: 2px;
}
.wb-com-tip p .close:hover {
  color: #eb7350;
}
.wb-com-input {
  padding: 0 20px;
}
.wb-com-avatar {
  float: left;
  width: 30px;
  height: 30px;
}
.wb-com-avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.wb-com-area {
  margin-left: 40px;
}
.wb-com-in-wrap {
  background-color: #ffffff;
  margin-bottom: 10px;
}
.wb-com-in-wrap input {
  width: 98%;
  border: none;
  height: 23px;
  border: 1px solid #cccccc;
  padding: 5px 2px 0 6px;
  font-size: 12px;
  line-height: 18px;
}
.wb-com-in-ft {
  margin-bottom: 20px;
}
.wb-com-btn {
  float: right;
  color: #ffffff;
  background-color: #ffc09f;
  border: 1px solid #fbbd9e;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
  height: 24px;
  line-height: 25px;
  min-width: 40px;
  font-size: 12px;
  display: inline-block;
}
.wb-com-in-opt {
  font-size: 20px;
}
.wb-com-in-opt .kind-pic {
  color: #696e78;
}
.wb-com-in-opt > a {
  margin-top: -4px;
  margin-right: 5px;
  float: left;
}
.wb-com-in-opt-list {
  margin-top: 1px;
  padding-bottom: 4px;
  float: left;
  font-size: 12px;
  margin-left: 5px;
}
.wb-com-in-opt-item {
  margin-bottom: 5px;
}
.wb-com-in-opt-item input[type='checkbox'] {
  vertical-align: middle;
}
.wb-com-box {
  padding: 0 20px;
}
.wb-com-type {
  padding-top: 12px;
  margin: 6px 0 4px;
  border-top: 1px solid #d9d9d9;
}
.wb-com-type a {
  font-size: 12px;
  line-height: 10px;
  padding: 0 10px;
  color: #333333;
}
.wb-com-type a:first-child {
  border-right: 1px solid #d9d9d9;
  padding-left: 0;
}
.wb-com-type a.active {
  font-weight: 700;
}
.wb-com-item,
.wb-reply-item {
  padding: 11px 0 7px;
  font-size: 12px;
  border-bottom: 1px solid #d9d9d9;
}
.wb-com-item:last-child,
.wb-reply-item:last-child {
  border: none;
}
.wb-com-item > a,
.wb-reply-item > a {
  color: #76a513;
  margin-top: -4px;
  padding-bottom: 2px;
  line-height: 23px;
  display: block;
}
.wb-com-hasrpy {
  border: none;
}
.wb-com-txt,
.wb-reply-txt {
  line-height: 23px;
  padding-bottom: 2px;
  margin-top: -6px;
}
.wb-com-username {
  color: #76a513;
}
.wb-com-time,
.wb-reply-time {
  float: left;
  color: #808080;
  line-height: 16px;
}
.wb-com-act,
.wb-reply-act {
  float: right;
}
.wb-com-ft:hover .wb-com-rep,
.wb-reply-ft:hover .wb-com-rep,
.wb-com-ft:hover .wb-reply-rep,
.wb-reply-ft:hover .wb-reply-rep,
.wb-com-ft:hover .wb-reply-dig,
.wb-reply-ft:hover .wb-reply-dig {
  opacity: 1;
}
.wb-com-act-item,
.wb-reply-act-item {
  float: left;
  padding: 0 10px;
  line-height: 12px;
}
.wb-com-act-item:not(:last-child),
.wb-reply-act-item:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
.wb-com-act-item a,
.wb-reply-act-item a {
  color: #333333;
}
.wb-com-act-item a:hover,
.wb-reply-act-item a:hover {
  color: #76a513;
}
.wb-com-act-item a span,
.wb-reply-act-item a span {
  margin-right: 5px;
  font-size: 15px;
  vertical-align: top;
}
.wb-com-rep,
.wb-reply-rep,
.wb-reply-dig {
  opacity: 0;
}
.wb-com-reply {
  background-color: #eaeaec;
  padding: 0 12px;
  margin: 8px 0 10px;
}
.wb-com-more {
  font-size: 12px;
  margin: 0 -20px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #d9d9d9;
}
.wb-com-more a {
  color: #333333;
}
.wb-com-more a:hover {
  color: #eb7350;
}
.wb-bottom {
  background-color: #ffffff;
}
.wb-bottom-inner {
  width: 1000px;
  padding: 20px 0 10px 80px;
  box-sizing: border-box;
  margin: 0 auto;
}
.wb-bottom-list {
  float: left;
  margin-right: 70px;
  display: inline;
}
.wb-bottom-list dt {
  padding-bottom: 15px;
  font-size: 16px;
  width: 138px;
  color: #333333;
}
.wb-bottom-list dd a {
  display: inline-block;
  margin: 0 20px 5px 0;
  width: 48px;
  font-size: 12px;
  color: #808080;
}
.wb-bottom-list dd a:hover {
  color: #eb7350;
}
.wb-bottom-list dd span {
  display: block;
  float: left;
  margin-right: 10px;
  width: 79px;
}
.wb-bottom-list dd .wb-code-txt {
  width: 109px;
}
.wb-bottom-list-cop dd a {
  width: 60px;
}
