@charset "utf-8";

//图标字体定义区域
@font-face {
  font-family: swbficon;
  src: url('../fonts/swbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/swbficon-webfont.woff') format('woff'),
  url('../fonts/swbficon-webfont.ttf') format('truetype'),
  url('../fonts/swbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: wbficon;
  src: url('../fonts/wbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/wbficon-webfont.woff') format('woff'),
  url('../fonts/wbficon-webfont.ttf') format('truetype'),
  url('../fonts/wbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wbficon{
  .wbficon();
}

.swbficon{
  .swbficon();
}

.tc(){
  text-align: center;
}
//颜色定义区域
@mainColor:#eb7350;
@fontColor:#333;
@mainBgColor:#fff;

.mainColor(){
  color: @mainColor;
}

.fontColor(@Color:@fontColor){
  color: @Color;
}

.hoverColor(@color:@mainColor){
  color: @color;
}

.mainBgColor(@bgColor:@mainBgColor){
  background-color: @bgColor;
}

.wbficon(){
  font-family: wbficon;
}

.swbficon(){
  font-family: swbficon;
}

//阴影定义区域
.boxShadow(){
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
//边框定义区域
.border(top,@border_w:1px,@border_s:solid,@border_c){
  border-top: @border_w @border_s @border_c;
}

.border(bottom,@border_w:1px,@border_s:solid,@border_c){
  border-bottom: @border_w @border_s @border_c;
}

.border(left,@border_w:1px,@border_s:solid,@border_c){
  border-left: @border_w @border_s @border_c;
}

.border(right,@border_w:1px,@border_s:solid,@border_c){
  border-right: @border_w @border_s @border_c;
}

.border(all,@border_w:1px,@border_s:solid,@border_c){
  border: @border_w @border_s @border_c;
}

.border(none,@border_w:1px,@border_s:solid,@border_c){
  border: none;
}


//尺寸定义区域
@topWidth:1280px;
@topHeight:48px;
@topSearhW:468px;
@mainWidth:1000px;

//位置定义区域
.horizonCenter(){
  margin-left: auto;
  margin-right: auto;
}
.fl(){
  float: left;
}

.fr(){
  float: right;
}

.clearfix::after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.borRadius(@radius:2px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

body{
  background-color: #b4daf0;
  background-image: url("../img/body_repeat.png");
  background-position: center 0;
  background-repeat: repeat-x;
}

.wb{
  padding-top: 50px;
  background: rgba(0, 0, 0, 0) url("../img/body_bg.jpg") no-repeat scroll center top;
}

.wb-top{
  position: fixed;
  .border(top,2px,solid,@mainColor);
  top: 0;
  left: 0;
  width: 100%;
  height: @topHeight;
  .mainBgColor();
  .boxShadow();
  z-index: 9999;
}

.wb-top-inner{
  width: @topWidth;
  .horizonCenter();
}

.wb-top-logo{
  .fl();
  position: relative;
  width: 140px;
  height: @topHeight;
  >a{
    height: @topHeight;
    display: block;
    position: absolute;
    width: 190px;
    left: -50px;
    >span{
      display: block;
      width: 140px;
      margin-left: 50px;
      height: @topHeight;
      background: url("../img/WB_logo.png") no-repeat center 40%;
    }
  }
}

.wb-top-search{
  .fl();
  width: @topSearhW;
  .mainBgColor(#F2F2F5);
  .border(all,1px,solid,#ccc);
  margin-top: 9px;
  position: relative;
  >input{
    height: 20px;
    padding: 4px 33px 4px 10px;
    .border(none,0px,solid,transparent);
    width: 425px;
    .mainBgColor(transparent);
  }
  >a{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 18px;
    .fontColor(#696e78);
    &:hover{
      .hoverColor();
    }
  }
}

.wb-top-pos{
  .fr();
  margin-left: -11px;
  .wbficon{
    font-size: 22px;
  }
  a{
    .fontColor(#696e78);
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.wb-top-nav{
  .fl();
  margin: 11px 20px 11px 0;
}

.wb-top-nav{
  .fl();
  li{
    display: inline;
    margin-left: 26px;
    font-size: 14px;
    &.active{
      a{
        .fontColor(@mainColor);
      }
    }
  }
  a{
    display: inline-block;
    &:hover{
      .hoverColor();
    }
    line-height: 26px;
    height: 26px;
  }
  span{
    vertical-align: top;
  }
}

.wb-top-user{
  .fl();
  margin: 12px 10px 12px 0;
  .border(left,1px,solid,#d9d9d9);
  > div{
    position: relative;
    margin-left: 21px;
    display: inline-block;
    float: left;
  }
}

.wb-top-msg{
  .msg-num{
    position: absolute;
    .fontColor(#fff);
    top: -3px;
    right: -16px;
    .mainBgColor(@mainColor);
    font-size: 11px;
    min-width: 18px;
    padding: 0 2px;
    .borRadius();
    .border(all,1px,solid,#fff);
    .tc();
  }
}

.wb-top-edit{
  width: 26px;
  height: 24px;
  .mainBgColor(@mainColor);
  .tc();
  .borRadius();
  span{
    .fontColor(#fff);
  }
}

.wb-body{
  .mainBgColor(rgba(70, 149, 194, 0.3));
  width: @mainWidth;
  .horizonCenter();
  padding-top: 16px;
}

@asideH:34px;
.wb-body-aside{
  width: 150px;
  li{
    >a{
      .fontColor(#fff);
      display: block;
      line-height: @asideH;
      height: @asideH;
      padding: 0 0 0 15px;
      &:hover{
        .mainBgColor(rgba(255,255,255,.2));
      }
      position: relative;
    }
    &.active>a{
      .mainBgColor(rgba(255,255,255,.2));
    }
  }
  .fl();
}

.dot{
  position: absolute;
  width: 6px;
  height: 6px;
  .borRadius(50%);
  .mainBgColor(@mainColor);
  right: 8px;
  top: 50%;
  margin-top: -3px;
}

.wb-aside-my{
  .border(bottom,1px,solid,rgba(255,255,255,.2));
  padding-bottom: 11px;
  a{
    font-weight: 700;
    font-size: 14px;
  }
}

.wb-aside-hot,.wb-aside-cato{
  span.wbficon{
    margin-right: 4px;
    margin-top: -1px;
    font-size: 14px;
    line-height: @asideH;
    display: block;
    .fl();
  }
  a{
    font-size: 12px;
  }
  .msg-num{
    .mainBgColor(@mainColor);
    .borRadius(3px);
    .fr();
    padding: 0 2px;
    height: 13px;
    line-height: 14px;
    min-width: 18px;
    .tc();
    margin: 10px 10px 0 0;
  }
}

.wb-aside-hot{
  padding-top: 11px;
}

.wb-aside-cato{
  .more{
    text-align: center;
    height: @asideH;
    line-height: @asideH;
    a{
      .fontColor(#fff);
      .borRadius(3px);
      .mainBgColor(#A9D1E8);
      padding: 3px 6px;
      position: relative;
      .dot{
        top: 0px;
        right: -1px;
      }
    }
  }
  .border(bottom,1px,solid,rgba(255,255,255,.2));
}

fieldset{
  padding-left: 120px;
  height: 22px;
  border: none;
  .border(top,1px,solid,rgba(255,255,255,0.2));
  legend{
    padding: 0 3px 0 4px;
    font-size: 14px;
    line-height: 22px;
    display: block;
    a{
      line-height: 22px;
      padding: 0;
      .fontColor(#fff)
    }
  }
}

.wb-body-content{
  width: 850px;
  display: inline-block;
}

.wb-body-main{
  width: 600px;
  margin-right: 10px;
  display: inline-block;
  >div{
    .boxShadow();
    .mainBgColor(#fff);
    margin-bottom: 10px;
    .borRadius();
  }
}

.wb-edit-box{
  padding: 15px 10px 10px;
  .box-title{
    .fl();
    .fontColor(#1b7fb6);
    -webkit-text-stroke-width: 0.2px;
    font-size: 14px;
  }
}

.box-recom{
  .fr();
  a{
    .fontColor(@mainColor);
    font-size: 12px;
    line-height: 21px;
    &:first-child{
      margin-right: 8px;
    }
  }
}

@editH:68px;
.box-body{
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  .border(all,1px,solid,#ccc);
  margin-top: 4px;
  padding: 5px;
  min-height: @editH;
  height: auto;
  textarea{
    width: 100%;
    min-height: @editH;
  }
}

.box-footer{

}

@kindH:24px;
.box-footer-kind{
  .fl();
  padding-top: 10px;
  height: @kindH;
  line-height: @kindH;
  >a{
    .fontColor();
    margin-right: 18px;
    font-size: 12px;
    >span{
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -2px;
      display: inline-block;
    }
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.kind-face{
  .fontColor(#ffa405);
  &:hover{
    .fontColor(#ff9000);
  }
}

.kind-pic{
  .fontColor(#84c002);
  &:hover{
    .fontColor(#72a305);
  }
}

.kind-vid{
  .fontColor(#737e95);
  &:hover{
    .fontColor(#4d607c);
  }
}

.kind-top{
  .fontColor(#5a8ce6);
  &:hover{
    .fontColor(#4579d8);
  }
}

.kind-art{
  .fontColor(#ff8200);
  &:hover{
    .fontColor(#ff6600);
  }
}

.box-footer-kind .kind-more{
  font-size: 16px;
}

.box-footer-send{
  .fr();
  padding-top: 5px;
}

.send-opt{
  margin: 10px 10px 0 0;
  display: block;
  .fr();
  font-size: 12px;
  .fontColor();
  &:hover{
    .fontColor(@mainColor);
  }
}

@btnH:28px;
@btnW:60px;
.send-btn{
  .fontColor(#fff);
  padding: 0 10px;
  line-height: @btnH;
  font-size: 14px;
  width: @btnW;
  display: block;
  box-sizing: content-box;
  .fr();
  border: none;
  .mainBgColor(#ffc09f);
  .border(all,1px,solid,#fbbd9e);
  .borRadius();
  cursor: pointer;
}

@navH:38px;
@arrH:7px;
.wb-nav-box-list{
  .fl();
  width: 312px;
  display: block;
  >li{
    .fl();
    width: 52px;
    height: @navH;
    font-size: 12px;
    >a{
      display: block;
      .fontColor();
      &:hover{
        .fontColor(@mainColor);
      }
    }
    &.active{
      >a{
        font-weight: 700;
      }
    }
  }
}

.nav-name{
  display: block;
  width: 100%;
  padding-left: 14px;
  line-height: @navH;
  height: @navH - @arrH;
}

.nav-bottom{
  height: @arrH;
  width: 100%;
  display: block;
  .tc();
}

.nav-arrow{
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #FFF8BF transparent;
  line-height: 0;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

@searchH:24px;
.wb-nav-box-search{
  .fr();
  margin: 6px 7px;
  .border(all,1px,solid,#ccc);
  .mainBgColor();
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  height: @searchH;
  position: relative;
  font-size: 13px;
  input{
    border: none;
    width: 120px;
    height: @searchH;
    padding: 0 46px 0 10px;
  }
}

.wb-nav-box-search-btn{
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: @searchH;
  a{
    .fontColor(#696e78);
  }
  .adv-btn:hover{
    .fontColor(@mainColor);
  }
}

@navFooterH:30px;
.wb-nav-box-footer{
  height: @navFooterH;
  .mainBgColor(#FFF8BF);
  .tc();
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  a{
    font-size: 12px;
    .fontColor(@mainColor);
    line-height: @navFooterH;
  }
}
