@charset "utf-8";

//图标字体定义区域
@font-face {
  font-family: swbficon;
  src: url('../fonts/swbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/swbficon-webfont.woff') format('woff'),
  url('../fonts/swbficon-webfont.ttf') format('truetype'),
  url('../fonts/swbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: wbficon;
  src: url('../fonts/wbficon-webfont.eot') format("embedded-opentype");
  src: url('../fonts/wbficon-webfont.woff') format('woff'),
  url('../fonts/wbficon-webfont.ttf') format('truetype'),
  url('../fonts/wbficon-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wbficon{
  .wbficon();
}

.swbficon{
  .swbficon();
}

.tc(){
  text-align: center;
}
//颜色定义区域
@mainColor:#eb7350;
@fontColor:#333;
@mainBgColor:#fff;

.mainColor(){
  color: @mainColor;
}

.fontColor(@Color:@fontColor){
  color: @Color;
}

.hoverColor(@color:@mainColor){
  color: @color;
}

.mainBgColor(@bgColor:@mainBgColor){
  background-color: @bgColor;
}

.wbficon(){
  font-family: wbficon;
}

.swbficon(){
  font-family: swbficon;
}

//阴影定义区域
.boxShadow(){
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
//边框定义区域
.border(top,@border_w:1px,@border_s:solid,@border_c){
  border-top: @border_w @border_s @border_c;
}

.border(bottom,@border_w:1px,@border_s:solid,@border_c){
  border-bottom: @border_w @border_s @border_c;
}

.border(left,@border_w:1px,@border_s:solid,@border_c){
  border-left: @border_w @border_s @border_c;
}

.border(right,@border_w:1px,@border_s:solid,@border_c){
  border-right: @border_w @border_s @border_c;
}

.border(all,@border_w:1px,@border_s:solid,@border_c){
  border: @border_w @border_s @border_c;
}

.border(none,@border_w:1px,@border_s:solid,@border_c){
  border: none;
}


//尺寸定义区域
@topWidth:1280px;
@topHeight:48px;
@topSearhW:468px;
@mainWidth:1000px;
@rightWidth:230px;

//位置定义区域
.horizonCenter(){
  margin-left: auto;
  margin-right: auto;
}
.fl(){
  float: left;
}

.fr(){
  float: right;
}

.clearfix::after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.borRadius(@radius:2px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

body{
  background-color: #b4daf0;
  background-image: url("../img/body_repeat.png");
  background-position: center 0;
  background-repeat: repeat-x;
}

.wb{
  padding-top: 50px;
  background: rgba(0, 0, 0, 0) url("../img/body_bg.jpg") no-repeat scroll center top;
}

.wb-top{
  position: fixed;
  .border(top,2px,solid,@mainColor);
  top: 0;
  left: 0;
  width: 100%;
  height: @topHeight;
  .mainBgColor();
  .boxShadow();
  z-index: 9999;
}

.wb-top-inner{
  width: @topWidth;
  .horizonCenter();
}

.wb-top-logo{
  .fl();
  position: relative;
  width: 140px;
  height: @topHeight;
  >a{
    height: @topHeight;
    display: block;
    position: absolute;
    width: 190px;
    left: -50px;
    >span{
      display: block;
      width: 140px;
      margin-left: 50px;
      height: @topHeight;
      background: url("../img/WB_logo.png") no-repeat center 40%;
    }
  }
}

.wb-top-search{
  .fl();
  width: @topSearhW;
  .mainBgColor(#F2F2F5);
  .border(all,1px,solid,#ccc);
  margin-top: 9px;
  position: relative;
  >input{
    height: 20px;
    padding: 4px 33px 4px 10px;
    .border(none,0px,solid,transparent);
    width: 425px;
    .mainBgColor(transparent);
  }
  >a{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 18px;
    .fontColor(#696e78);
    &:hover{
      .hoverColor();
    }
  }
}

.wb-top-pos{
  .fr();
  margin-left: -11px;
  .wbficon{
    font-size: 22px;
  }
  a{
    .fontColor(#696e78);
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.wb-top-nav{
  .fl();
  margin: 11px 20px 11px 0;
}

.wb-top-nav{
  .fl();
  li{
    display: inline;
    margin-left: 26px;
    font-size: 14px;
    &.active{
      a{
        .fontColor(@mainColor);
      }
    }
  }
  a{
    display: inline-block;
    &:hover{
      .hoverColor();
    }
    line-height: 26px;
    height: 26px;
  }
  span{
    vertical-align: top;
  }
}

.wb-top-user{
  .fl();
  margin: 12px 10px 12px 0;
  .border(left,1px,solid,#d9d9d9);
  > div{
    position: relative;
    margin-left: 21px;
    display: inline-block;
    float: left;
  }
}

.wb-top-msg{
  .msg-num{
    position: absolute;
    .fontColor(#fff);
    top: -3px;
    right: -16px;
    .mainBgColor(@mainColor);
    font-size: 11px;
    min-width: 18px;
    padding: 0 2px;
    .borRadius();
    .border(all,1px,solid,#fff);
    .tc();
  }
}

.wb-top-edit{
  width: 26px;
  height: 24px;
  .mainBgColor(@mainColor);
  .tc();
  .borRadius();
  span{
    .fontColor(#fff);
  }
}

.wb-body{
  .mainBgColor(rgba(70, 149, 194, 0.3));
  width: @mainWidth;
  .horizonCenter();
  padding-top: 16px;
}

@asideH:34px;
.wb-body-aside{
  width: 150px;
  li{
    >a{
      .fontColor(#fff);
      display: block;
      line-height: @asideH;
      height: @asideH;
      padding: 0 0 0 15px;
      &:hover{
        .mainBgColor(rgba(255,255,255,.2));
      }
      position: relative;
    }
    &.active>a{
      .mainBgColor(rgba(255,255,255,.2));
    }
  }
  .fl();
}

.dot{
  position: absolute;
  width: 6px;
  height: 6px;
  .borRadius(50%);
  .mainBgColor(@mainColor);
  right: 8px;
  top: 50%;
  margin-top: -3px;
}

.wb-aside-my{
  .border(bottom,1px,solid,rgba(255,255,255,.2));
  padding-bottom: 11px;
  a{
    font-weight: 700;
    font-size: 14px;
  }
}

.wb-aside-hot,.wb-aside-cato{
  span.wbficon{
    margin-right: 4px;
    margin-top: -1px;
    font-size: 14px;
    line-height: @asideH;
    display: block;
    .fl();
  }
  a{
    font-size: 12px;
  }
  .msg-num{
    .mainBgColor(@mainColor);
    .borRadius(3px);
    .fr();
    padding: 0 2px;
    height: 13px;
    line-height: 14px;
    min-width: 18px;
    .tc();
    margin: 10px 10px 0 0;
  }
}

.wb-aside-hot{
  padding-top: 11px;
}

.wb-aside-cato{
  .more{
    text-align: center;
    height: @asideH;
    line-height: @asideH;
    a{
      .fontColor(#fff);
      .borRadius(3px);
      .mainBgColor(#A9D1E8);
      padding: 3px 6px;
      position: relative;
      .dot{
        top: 0px;
        right: -1px;
      }
    }
  }
  .border(bottom,1px,solid,rgba(255,255,255,.2));
}

fieldset{
  padding-left: 120px;
  height: 22px;
  border: none;
  .border(top,1px,solid,rgba(255,255,255,0.2));
  legend{
    padding: 0 3px 0 4px;
    font-size: 14px;
    line-height: 22px;
    display: block;
    a{
      line-height: 22px;
      padding: 0;
      .fontColor(#fff)
    }
  }
}

.wb-body-content{
  width: 850px;
  display: inline-block;
}

.wb-body-main{
  width: 600px;
  margin-right: 10px;
  display: inline-block;
  >div{
    .boxShadow();
    .mainBgColor(#fff);
    margin-bottom: 10px;
    .borRadius();
  }
}

.wb-edit-box{
  padding: 15px 10px 10px;
  .box-title{
    .fl();
    .fontColor(#1b7fb6);
    -webkit-text-stroke-width: 0.2px;
    font-size: 14px;
  }
}

.box-recom{
  .fr();
  a{
    .fontColor(@mainColor);
    font-size: 12px;
    line-height: 21px;
    &:first-child{
      margin-right: 8px;
    }
  }
}

@editH:68px;
.box-body{
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  .border(all,1px,solid,#ccc);
  margin-top: 4px;
  padding: 5px;
  min-height: @editH;
  height: auto;
  textarea{
    width: 100%;
    min-height: @editH;
  }
}

@kindH:24px;
.box-footer-kind{
  .fl();
  padding-top: 10px;
  height: @kindH;
  line-height: @kindH;
  >a{
    .fontColor();
    margin-right: 18px;
    font-size: 12px;
    >span{
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -2px;
      display: inline-block;
    }
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.kind-face{
  .fontColor(#ffa405);
  &:hover{
    .fontColor(#ff9000);
  }
}

.kind-pic{
  .fontColor(#84c002);
  &:hover{
    .fontColor(#72a305);
  }
}

.kind-vid{
  .fontColor(#737e95);
  &:hover{
    .fontColor(#4d607c);
  }
}

.kind-top{
  .fontColor(#5a8ce6);
  &:hover{
    .fontColor(#4579d8);
  }
}

.kind-art{
  .fontColor(#ff8200);
  &:hover{
    .fontColor(#ff6600);
  }
}

.box-footer-kind .kind-more{
  font-size: 16px;
}

.box-footer-send{
  .fr();
  padding-top: 5px;
}

.send-opt{
  margin: 10px 10px 0 0;
  display: block;
  .fr();
  font-size: 12px;
  .fontColor();
  &:hover{
    .fontColor(@mainColor);
  }
}

@btnH:28px;
@btnW:60px;
.send-btn{
  .fontColor(#fff);
  padding: 0 10px;
  line-height: @btnH;
  font-size: 14px;
  width: @btnW;
  display: block;
  box-sizing: content-box;
  .fr();
  border: none;
  .mainBgColor(#ffc09f);
  .border(all,1px,solid,#fbbd9e);
  .borRadius();
  cursor: pointer;
}

@navH:38px;
@arrH:7px;
.wb-nav-box-list{
  .fl();
  width: 312px;
  display: block;
  >li{
    .fl();
    width: 52px;
    height: @navH;
    font-size: 12px;
    >a{
      display: block;
      .fontColor();
      &:hover{
        .fontColor(@mainColor);
      }
    }
    &.active{
      >a{
        font-weight: 700;
      }
    }
  }
}

.nav-name{
  display: block;
  width: 100%;
  padding-left: 14px;
  line-height: @navH;
  height: @navH - @arrH;
}

.nav-bottom{
  height: @arrH;
  width: 100%;
  display: block;
  .tc();
}

.nav-arrow{
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #FFF8BF transparent;
  line-height: 0;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

@searchH:24px;
.wb-nav-box-search{
  .fr();
  margin: 6px 7px;
  .border(all,1px,solid,#ccc);
  .mainBgColor();
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  height: @searchH;
  position: relative;
  font-size: 13px;
  input{
    border: none;
    width: 120px;
    height: @searchH;
    padding: 0 46px 0 10px;
  }
}

.wb-nav-box-search-btn{
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: @searchH;
  a{
    .fontColor(#696e78);
  }
  .adv-btn:hover{
    .fontColor(@mainColor);
  }
}

@navFooterH:30px;
.wb-nav-box-footer{
  height: @navFooterH;
  .mainBgColor(#FFF8BF);
  .tc();
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  a{
    font-size: 12px;
    .fontColor(@mainColor);
    line-height: @navFooterH;
  }
}


.wb-body-right{
  width: @rightWidth;
  margin-right: 10px;
  .fr();
  >div{
    .boxShadow();
    margin-bottom: 10px;
    .mainBgColor();
    .borRadius();
  }
}

@userHeaderH:75px;

.user-box-header{
  height: 75px;
  position: relative;
  background: url('../img/user_bg.jpg') no-repeat center 100%/100%;
}

.user-avatar{
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -30px;
  img{
    display: block;
    width: 60px;
    height: 60px;
    .borRadius(50%);
  }
}

.user-box-body{
  padding: 16px 16px 9px;
  .mainBgColor();
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.user-info{
  >a{
    font-weight: 700;
    .fontColor();
    &:hover{
      .fontColor(@mainColor);
    }
    font-size: 14px;
    line-height: 16px;
  }
  .tc();
  padding-top: 5px;
}

.imgIcon(@posX,@posY){
  background: url("../img/icon.png") no-repeat center;
  background-position: @posX @posY;
}

.user-mem,.user-lev{
  display: inline-block;
}

.user-mem{
  .imgIcon(0,-200px);
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.user-lev{
  .mainBgColor(@mainColor);
  .borRadius(8px);
  i{
    padding: 0 5px 0 3px;
    width: 25px;
    line-height: 14px;
    height: 14px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    .tc();
  }
}

.user-atte{
  margin-top: 10px;
  >li{
    .fl();
    width: 65px;
    .border(right,1px,solid,#d9d9d9);
    text-align: center;
    &:last-child{
      .border(right,0px,solid,#d9d9d9);
    }
    a{
      font-weight: 700;
      .fontColor();
      &:hover{
        .fontColor(@mainColor);
      }
      line-height: 18px;
      display: block;
    }
    p{
      font-size: 12px;
      line-height: 16px;
      .fontColor(#808080);
    }
  }
}

@boxTitleH:38px;
.wb-box-title{
  padding: 0 16px;
  height: @boxTitleH;
  line-height: @boxTitleH;
  a{
    font-weight: 700;
    .fontColor();
    font-size: 14px;
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.wb-box-item{
  padding: 6px;
  .border(top,1px,solid,#f2f2f5);
}

.wb-box-wrapper{
  padding: 0 10px;
}

.wb-box-pic{
  .fl();
  margin-right: 5px;
  img{
    width: 72px;
    height: 96px;
    display: block;
  }
}

@boxContH:36px;
.wb-box-content{
  overflow: hidden;
  height: @boxContH;
  line-height: @boxContH;
}

@conTitleNumH:15px;
.wb-box-con-title{
  .fontColor();
  font-size: 14px;
  margin: 3px 0;
  line-height: 16px;
  &:hover{
    .fontColor(@mainColor);
  }
  span{
    .fontColor(#fff);
    width: @conTitleNumH;
    height: @conTitleNumH;
    line-height: @conTitleNumH+1;
    display: inline-block;
    font-weight: normal;
    .borRadius(50%);
    .tc();
    .mainBgColor(@mainColor);
  }
}

.wb-box-txt{
  .fontColor(#808080);
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wb-box-grade{
  .fr();
  .fontColor(#808080);
  font-size: 12px;
}

.wb-box-focus .wb-box-con-title{
  font-weight: 700;
}

.wb-box-focus .wb-box-grade{
  margin-top: 10px;
}

.wb-box-focus .wb-box-con-title span{
  .mainBgColor(#DF3E3E);
}

.wb-box-focus .wb-box-wrapper{
  padding: 0;
}

.wb-box-focus .wb-box-content{
  padding-right: 10px;
  height: 96px;
  line-height: 14px;
}

@boxFooterH:35px;
.wb-box-footer{
  .tc();
  font-size: 12px;
  line-height: @boxFooterH;
  height: @boxFooterH;
  a{
    .fontColor();
    &:hover{
      .fontColor(@mainColor);
    }
  }
  .border(top,1px,solid,#d9d9d9);
}

.wb-top-list{
  padding: 16px;
  font-size: 12px;
  .border(top,1px,solid,#f2f2f5);
}

.wb-top-item{
  padding: 8px 0 5px;
  a{
    .fontColor();
    &:hover{
      .fontColor(@mainColor);
    }
  }
  span{
    .fr();
    .fontColor(#808080);
  }
}

.wb-box-title .topic-change{
  font-size: 12px;
  font-weight: 400;
  .fr();
  .fontColor(#696e78);
  span{
    font-size: 14px;
    font-weight: 700;
  }
}

.wb-mom-body{
  padding: 20px 20px 0;
}

@userH:50px;
.wb-mom-ava{
  display: block;
  .fl();
  width: @userH;
  height: @userH;
  img{
    display: block;
    width:@userH;
    height: @userH;
    .borRadius(50%);
  }
}

.wb-mom-cont{
  margin-left: 60px;
}

.wb-mom-menu{
  position: absolute;
  right:0;
  top: 0;
  >a{
    .fontColor();
    font-size: 18px;
    &:hover{
      .fontColor(@mainColor);
    }
  }
}

.wb-mom-user{
  padding-top: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  >a{
    .fontColor();
    font-weight: 700;
    &:hover{
      .fontColor(#76a513);
    }
  }
  position: relative;
}

.wb-vuser{
  display: inline-block;
  width: 14px;
  height: 14px;
  .imgIcon(0,-75px);
  margin-left: 3px;
  vertical-align: -2px;
}

.wb-mem{
  width: 16px;
  height: 14px;
  margin-left: 3px;
  vertical-align: -2px;
  .imgIcon(-25px,-25px);
  display: inline-block;
}

.wb-mom-time{
  font-size: 12px;
  margin-bottom: 2px;
  .fontColor(#808080);
  a{
    .fontColor(inherit);
    &:hover{
      .fontColor(#76a513);
    }
  }
}

.wb-mom-txt{
  .fontColor();
  line-height: 23px;
  font-size: 14px;
  margin-bottom: 2px;
}

.wb-mom-pic{
  margin-top: 5px;
  margin-bottom: 6px;
}

.wb-mom-pic-item{
  width: 167px;
  height: auto;
  display: block;
  img{
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.wb-mom-footer{
  .border(top,1px,solid,#f2f2f5);
}

.wb-ft-item{
  .fl();
  width: 25%;
  line-height: 38px;
  .tc();
  font-size: 12px;
  a{
    .fontColor(#808080);
    &:hover{
      .fontColor(@mainColor);
    }
    margin: 7px 0;
    display: block;
    line-height: 22px;
    span{
      font-size: 15px;
      margin-right: 3px;
      vertical-align: bottom;
      line-height: 22px;
      display: inline-block;
    }
  }
  &:not(:last-child){
    a{
      .border(right,1px,solid,#d9d9d9);
    }
  }
}

.wb-share{
  .mainBgColor(#F2F2F5);
  padding: 4px 20px 1px 80px;
  margin-top: 5px;
}

.wb-share-cont{
  .wb-mom-user{
    font-size: 12px;
  }
  .wb-mom-txt{
    font-size: 12px;
    a{
      .fontColor(#76a513);
    }
  }
}

.wb-share-ft{
  font-size: 12px;
  .fontColor(#808080);
  a{
    .fontColor(inherit);
    &:hover{
      .fontColor(#76a513);
    }
    span{
      font-size: 15px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: top;
    }
  }
  margin: 4px 0 7px;
}

.wb-share-tb{
  .fr();
  .wb-share-tb-item{
    .fl();
    padding: 0 10px;
    &:not(:last-child){
      .border(right,1px,solid,#d9d9d9);
    }
    >a{
      line-height: 18px;
    }
  }
}

.wb-ft-com{
  position: relative;
}

.wb-com-arrow{
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 0;
  margin-left: -7px;
}

.wb-com-arrow-inner{
  position: absolute;
  top: -14px;
  left: 0;
  line-height: 0;
  font-size: 0;
  i{
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #d9d9d9 transparent;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin-left: -1px;
  }
  em{
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #f2f2f5 transparent;
    width: 0;
    height: 0;
    display: inline-block;
    margin: 1px 0 0 -14px;
    overflow: hidden;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
  }
}

.wb-mom-comment{
  .mainBgColor(#F2F2F5);
  .border(top,1px,solid,#d9d9d9);
  padding-top: 16px;
}

.wb-com-tip{
  margin: 0 20px 10px;
  padding: 5px 7px 4px 10px;
  font-size: 12px;
  .mainBgColor(#F8F9FE);
  .border(all,1px,solid,#e4e7f8);
  .tc();
  p{
    .fontColor(#808080);
    i{
      display: inline-block;
      height: 16px;
      width: 16px;
      .imgIcon(-350px,-100px);
      vertical-align: -3px;
    }
    a{
      .fontColor(#76a513);
    }
    .close{
      .fontColor(#696e78);
      .fr();
      &:hover{
        .fontColor(@mainColor);
      }
      margin-top: 2px;
    }
  }
}

.wb-com-input{
  padding: 0 20px;
}

@comAvaH:30px;
.wb-com-avatar{
  .fl();
  width: @comAvaH;
  height: @comAvaH;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.wb-com-area{
  margin-left: 40px;
}

.wb-com-in-wrap{
  .mainBgColor();
  margin-bottom: 10px;
  input{
    width: 98%;
    border: none;
    height: 23px;
    .border(all,1px,solid,#ccc);
    padding: 5px 2px 0 6px;
    font-size: 12px;
    line-height: 18px;
  }
}

.wb-com-in-ft{
  margin-bottom: 20px;
}

.wb-com-btn{
  .fr();
  .fontColor(#fff);
  .mainBgColor(#ffc09f);
  .border(all,1px,solid,#fbbd9e);
  .tc();
  .borRadius();
  padding: 0 10px;
  height: 24px;
  line-height: 25px;
  min-width: 40px;
  font-size: 12px;
  display: inline-block;
}

.wb-com-in-opt{
  font-size: 20px;
  .kind-pic{
    .fontColor(#696e78);
  }
  >a{
    margin-top:-4px;
    margin-right: 5px;
    .fl();
  }
}

.wb-com-in-opt-list{
  margin-top: 1px;
  padding-bottom: 4px;
  .fl();
  font-size: 12px;
  margin-left: 5px;
}

.wb-com-in-opt-item{
  margin-bottom: 5px;
  input[type='checkbox']{
    vertical-align: middle;
  }
}

.wb-com-box{
  padding: 0 20px;
}

.wb-com-type{
  padding-top: 12px;
  margin: 6px 0 4px;
  .border(top,1px,solid,#d9d9d9);
  a{
    font-size: 12px;
    line-height: 10px;
    padding: 0 10px;
    .fontColor();
    &:first-child{
      .border(right,1px,solid,#d9d9d9);
      padding-left: 0;
    }
    &.active{
      font-weight: 700;
    }
  }
}

.wb-com-item,.wb-reply-item{
  padding: 11px 0 7px;
  font-size: 12px;
  .border(bottom,1px,solid,#d9d9d9);
  &:last-child{
    border: none;
  }
  >a{
    .fontColor(#76a513);
    margin-top: -4px;
    padding-bottom: 2px;
    line-height: 23px;
    display: block;
  }
}

.wb-com-hasrpy{
  border: none;
}

.wb-com-txt,.wb-reply-txt{
  line-height: 23px;
  padding-bottom: 2px;
  margin-top: -6px;
}

.wb-com-username{
  .fontColor(#76a513);
}

.wb-com-time,.wb-reply-time{
  .fl();
  .fontColor(#808080);
  line-height: 16px;
}

.wb-com-act,.wb-reply-act{
  .fr();
}

.wb-com-ft,.wb-reply-ft{
  &:hover{
    .wb-com-rep,.wb-reply-rep,.wb-reply-dig{
      opacity: 1;
    }
  }
}

.wb-com-act-item,.wb-reply-act-item{
  .fl();
  padding: 0 10px;
  &:not(:last-child){
    .border(right,1px,solid,#d9d9d9);
  }
  line-height: 12px;
  a{
    .fontColor();
    &:hover{
      .fontColor(#76a513);
    }
    span{
      margin-right: 5px;
      font-size: 15px;
      vertical-align: top;
    }
  }
}

.wb-com-rep,.wb-reply-rep,.wb-reply-dig{
  opacity: 0;
}

.wb-com-reply{
  .mainBgColor(#EAEAEC);
  padding: 0 12px;
  margin: 8px 0 10px;
}

.wb-com-more{
  font-size: 12px;
  margin: 0 -20px;
  .tc();
  a{
    .fontColor();
    &:hover{
      .fontColor(@mainColor);
    }
  }
  height: 35px;
  line-height: 35px;
  .border(top,1px,solid,#d9d9d9);
}

.wb-bottom{
  .mainBgColor();
}

.wb-bottom-inner{
  width:1000px;
  padding: 20px 0 10px 80px;
  box-sizing: border-box;
  margin: 0 auto;
}

.wb-bottom-list{
  .fl();
  margin-right: 70px;
  display: inline;
  dt{
    padding-bottom: 15px;
    font-size: 16px;
    width: 138px;
    .fontColor();
  }
  dd{
    a{
      display: inline-block;
      margin: 0 20px 5px 0;
      width: 48px;
      font-size: 12px;
      .fontColor(#808080);
      &:hover{
        .fontColor(@mainColor);
      }
    }
    span{
      display: block;
      .fl();
      margin-right: 10px;
      width: 79px;
    }
    .wb-code-txt{
      width: 109px;
    }
  }
}

.wb-bottom-list-cop dd a{
  width: 60px;
}